@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: #000000;
    background-color: #F3F4F6;
}

.main {
    margin-top: 8rem;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}

.fs-13 {
    font-size: 13px;
}

.fs-12 {
    font-size: 12px;
}

.fs-11 {
    font-size: 11px;
}

.fs-10 {
    font-size: 10px;
}

.border-radius-1rem {
    border-radius: 1rem;
}

.border-radius-1-5rem {
    border-radius: 1.5rem;
}

.border-radius-1-75rem {
    border-radius: 1.75rem;
}

.border-radius-075rem {
    border-radius: 0.75rem;
}

.border-radius-05rem {
    border-radius: 0.5rem;
}

.border-radius-5px {
    border-radius: 5px;
}

.color-red-klikspl-hover:hover {
    color: #db162f !important;
}

.color-red-klikspl {
    color: #db162f !important;
}

 ::-webkit-scrollbar {
    width: 20px;
}

 ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 100px;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #acacac;
}

.box-shadow:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 2px 4px rgba(0, 0, 0, 0.03), 0 4px 8px rgba(0, 0, 0, 0.03), 0 8px 16px rgba(0, 0, 0, 0.03), 0 16px 32px rgba(0, 0, 0, 0.03), 0 32px 64px rgba(0, 0, 0, 0.03);
}

.box-shadows {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 2px 4px rgba(0, 0, 0, 0.03), 0 4px 8px rgba(0, 0, 0, 0.03), 0 8px 16px rgba(0, 0, 0, 0.03), 0 16px 32px rgba(0, 0, 0, 0.03), 0 32px 64px rgba(0, 0, 0, 0.03);
}

.admin-container-main {
    background-color: #F3F4F6;
}


/* navbar */

.admin-notification-dropdown-text {
    white-space: normal !important;
}

.admin-notification-description-navbar {
    max-height: 40px;
    overflow: hidden;
}


/* end navbar */


/* sidebar */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar .nav-link.active {
    color: #db162f;
    font-weight: 600;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    /* font-weight: 500; */
    color: #333;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: transparent;
}


/* end sidebar */


/* dashboard */

.admin-card-dashboard {
    border: none;
}


/* end dashboard */


/* product */

button.btn.btn-secondary.buttons-copy.buttons-html5,
button.btn.btn-secondary.buttons-excel.buttons-html5,
button.btn.btn-secondary.buttons-pdf.buttons-html5,
button.btn.btn-secondary.buttons-collection.dropdown-toggle.buttons-colvis {
    margin-top: 1rem;
    font-size: 14px !important;
    background-color: #db162f !important;
    /* background-color: #f8f9fa !important; */
    /* color: #212529 !important; */
    border: 0 !important;
}

.dataTables_wrapper>.row>.col-sm-12 {
    overflow: auto;
    padding-top: 1rem;
}

table.dataTable tbody tr td {
    word-wrap: break-word;
    word-break: break-all;
}

.trix-button-group--file-tools {
    display: none !important;
}


/*     
    
    button.trix-button.trix-button--icon.trix-button--icon-attach {
        display: none;
    } */


/* end product */


/* create product */

.product-image-card>.card-body {
    height: 19rem;
    overflow-y: auto;
}

.product-image-label {
    position: sticky;
    top: 0;
    bottom: 0;
    height: 19rem;
    overflow-y: auto;
}


/* end create product */


/* order */

#searchKeyword:focus {
    border-color: #ced4da !important;
}


/* end order */


/* promobanner */

.grayscale-filter {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}


/* end promobanner */